flask
apscheduler
requests
tweepy
feedparser
langchain_google_genai
langchain-core==0.0.12
flask-session
langchain==0.0.350
python-dotenv
gunicorn
langchain-community==0.0.20
langchain-experimental==0.0.20
